*{
    margin: 0;
    padding: 0;
}
.parent{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 380px;
    height: 180px;
    margin-top: -90px;
    margin-left: -190px;

}

.blue,
.black,
.red,
.yellow,
.green{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 10px solid black;
    border-radius: 50%;
}
.blue{
    top: 0;
    left: 0;
    border-color: blue;
}
.black{
    top: 0;
    left: 130px;
}
.red{
    top: 0;
    left: 260px;
    border-color: red;
}
.yellow{
    top: 55px;
    left: 65px;
    border-color: yellow;
}
.green{
    top: 55px;
    left: 190px;
    border-color: green;
}