/*7. position */
/* 7.1 absolute*/
 body{
    margin: 0;
} 
.wrap{
    width:100px;
    height:100px;
    background-color: red;
    position: absolute;
    right:100px;
    top:200px; 
}

/* 7.1 层模型 */
.red{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    opacity: 0.5;  /* 透明度 取值范围 0-1*/
}
.green{
    width: 150px;
    height: 150px;
    background-color: green;
}

/* 7.2 relative */
.relative{
    position: relative;
    left:10px;
    top:20px;
    width:100px;
    height: 100px;
    background-color:#f40;
    opacity: 0.5;
}

.relative1{
    width: 150px;
    height: 150px;
    background-color: green;
}
/* 7.3 absolute相对于最近的有定位的父级进行定位 */
.grandpa{
    /* position: relative; */
    width: 200px;
    height: 200px;
    background-color: firebrick;
    margin-top:300px;
    margin-left: 100px;
}
.father{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: fuchsia;
    margin-left: 100px;  
}
.child{
   position: relative;
   width: 50px;
   height: 50px;
   background-color: gold;
   margin-left: 100px;  
}





/* 7.4 fixed 左侧广告定位 */
.fixedleft{
  position:fixed;
  width: 100px;
  height:100px;
  background-color: red;
  top:600px;
}
.fixedmiddle{
    position: fixed;
    left:50%;
    top:50%;
    width: 200px;
    height:200px;
    background-color: rgb(228, 17, 52);
    margin-left:-100px;
    margin-top:-100px;
}







/* 远视图 */
.div4{
    width: 10px;
    height: 10px;
    padding: 10px;
    background-color: #fff;
}
.div3{
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: green;
}
.div2{
    width:50px;
    height:50px;
    padding: 10px;
    background-color: #fff;
}
.div1{
    width:70px;
    height:70px;
    padding:10px;
    background-color: green;
}
.div{
    width:90px;
    height:90px;
    padding: 10px;
    background-color: #fff;
}



/* 6.盒子模型 */
.wrapper{
    border:10px solid blueviolet;
    width:100px;
    height: 100px;
    background-color: red;
    padding: 100px;
    /* 
      padding-top:
      padding-left: 
      padding-right: 

      border-width:
    */
    /* 
    padding:
     一个值代表: 四个方向内边距相同
     两个值代表：上下  左右
     三个值代表：上   左右   下
     四个值代表：上 右 下 左 （顺时针）
    */
}
.content{
    width:100px;
    height: 100px;
    background-color: pink;
   
}


.box{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    border: 10px solid pink;
    padding: 100px;
    margin: 100px;
}











/* 5.2 通配符选择器:初始化所有标签 */
/* *{
  margin: 0;
  padding: 0;
} */

/* 5.1 标签选择器 ：初始化标签*/
/* em{
    font-style: normal;
    color: #c00;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
} */


/* 4.行级块元素与元素中间有空隙 */
img{
    width: 100px;
    height:200px;
    margin-left: -5px;
}


/* 4.1 行级元素 */
span{
    width: 100px;
    height: 100px;
}

/* 3.伪类选择器 */
.testa:hover{
    background-color:pink;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    text-decoration: underline;
    background-color: #f40;
    border-radius: 10px;
}

/* 2.文本装饰 */
.del{
    text-decoration: none;
}
.span{
   text-decoration: line-through;   /* 文本装饰 none underline overline*/
}
.a{
    text-decoration: underline;  
    color:rgb(0,0,238);
    cursor: copy;  /* 鼠标光标 pointer(手) help(问号) copy e-resize（） */
}

/* 1.文本样式 */
div.demo{
    border: 1px solid black;  
    text-align: left;  /* 对齐方式 */
    height:100px;  
    line-height: 20px;   /* 单行文本行高 */
    /* 
       单行文本水平垂直居中：
       水平居中：text-align: center
       垂直居中：
          1.文本所占高度 === 容器高度 即：line-height === height
          2.设置padding
    */
    text-indent: 2em;  /* 首行缩进 */

    /* 1em = 1 * 该标签的front-size(默认16px) = 16px; 
       1.2倍行高： line-height:1.2em 
    */
}