*{
    margin: 0;
    padding: 0;
}
.warpper:hover{
    width: 400px;
}
.warpper{
  width: 320px;
}
.warpper .img{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 8px;
    height: 120px;
}
.warpper .title{
    font-size: 20px;
    color: #333;

    /* 最多两行 */
    line-height: 20px;
    height: 40px;
    margin-bottom: 8px;
    overflow: hidden;

}
.warpper .content{
    font-size: 12px;
    color: #666;
    /* line-height: 1.2;  */
    line-height: 1.2em;
}